---
layout: default
---
<div class="uk-container uk-container-small uk-position-relative">

    <div>
        <article class="uk-article">

            <h1 class="uk-article-title"><a class="uk-link-reset" href="">{{ page.title }}</a></h1>

            <p class="uk-article-meta tm-article-meta">Written by <a href="#">{{ page.author }}</a> on {{ page.date | date: "%A, %B %-d, %Y" }}</a></p>

            <!-- tags... -->

            {{ content }}

        </article>

    </div>

    <div style="position: absolute; width: 200px; top: 0px; left: 860px;">
        <div uk-sticky="offset: 260">
            <ul class="uk-nav uk-nav-default uk-nav-parent-icon tm-nav" uk-scrollspy-nav="closest: li; scroll: true; offset: 100">
                {% for section in page.sections %}
                    <li><a href="#{{ section }}" uk-scroll>{{ section | capitalize }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>
